{% extends "base.njk" %}

{% block title %}Table of Contents &mdash; Delta Ark Anthology{% endblock %}

{% block bodyClass %}toc-page{% endblock %}

{% block content %}
<section class="toc">

  <ul class="toc-list">
    {% for artist in artists %}
    <li class="toc-entry">
      <a href="/artists/{{ artist.slug }}/" class="toc-link" data-index="{{ loop.index0 }}"><span class="toc-name">{{ artist.name }}</span><span class="toc-leader"></span><span class="toc-work">{{ artist.work_title }}</span></a>
    </li>
    {% endfor %}
  </ul>

</section>
{% endblock %}
