{% extends "base.njk" %}

{% block title %}Table of Contents &mdash; Delta Ark Anthology{% endblock %}

{% block bodyClass %}toc-page toc-ship{% endblock %}

{% block content %}
<section class="toc">
  {% include "_toc-list.njk" %}
</section>
{% endblock %}
